@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primaryObj: #E71C77;
  --primaryText: #E71C77;
  --secondaryObj: #BE4676;
  --secondaryText: #BE4676;
  --background: linear-gradient(135deg, #71b7e6, #9b59b6);
  --backgroundSecondary: #A25A31;
  --error: #fe0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 60px 50px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
@media(max-width: 459px){
  body{
    padding: 60px 5px;
  }
}

/* NAVBAR START */
.navbar {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
}
.navbar a {
  text-decoration: none;
}
.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
  height: 50px;
}
.navbar > ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 10px;
  line-height: 1;
}
.navbar > ul > li {
  padding-left: 30px;
}
.navbar > span {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.navbar > span > img {
  width: 70px;
}
.navbar > span > h4 {
  padding-left: 10px;
  font-size: 1rem;
  text-align: justify;
  line-height: 1;
}
@media (max-width: 590px) {
  .navbar > ul > li {
    padding-left: 9px;
  }
  .navbar > span {
    display: flex;
    margin-left: 5px;
    align-items: center;
  }
  .navbar > span > img {
    width: 50px;
  }
}
/* NAVBAR END */


/* ORDER ITEM .form-item START */
.OIF{
  max-width: 700px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 25px 30px 0px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.OIF .content {
  margin-bottom: 20px;
  margin-top: 30px;
}
.OIF .form-return-button{
  height: 100%;
  padding: 0 5px;
  margin: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.customer-form-seprator{
  width: 100%;
  height: 10px;
  background: var(--background);
  margin: 10px 0px;
  align-self: auto;
}
.OIF .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.OIF .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content .form-item .item-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.form-item .item-details .input-box{
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}
.form-item .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.item-details .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.item-details .input-box-select{
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.item-details .input-box-select:valid{
  border-color: #9b59b6;
  background-color: #daeffda6;
}
.item-details .input-box input:valid{
  border-color: #9b59b6;
  background-color: #daeffda6;
}
.item-details .input-box input:focus{
  border-width: 2px;
  border-color: #330843;
}
.form-item .button{
   margin: 0;
   display: flex;
  justify-content: space-around;
}
.form-item .button button{
   height: 100%;
   padding: 0 5px;
   margin: 5px 10px;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.form-item-labels{
  font-size: small;
}
.button-submit{
  height: 45px;
  width: 70%;
  left: 50%;
  margin: 15px 35px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.form-item .button button:hover{
  /* trans.form-item: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
.action-button {
  background-color: rgb(255, 255, 255, 1);
  display: flex;
  max-width: 700px;
  width: 100%;
  justify-content: center;
}

@media(max-width: 600px){
 .OIF{
    max-width: 100%;
    background-color: rgb(255, 255, 255, 1);
  }
  .form-item .item-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .item-details::-webkit-scrollbar{
    width: 5px;
  }
}
@media(max-width: 459px){
  .OIF .content {
    flex-direction: column;
  }
}

/* ORDER ITEM .form-item END */



/* QUOTE/INVOICE STYLES START */
.invoice-page {
  background-color: rgb(255, 255, 255, 1);
}
.invoice-box {
  max-width: 700px;
  margin: auto;
  padding: 20px 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

.invoice-company-logo{
  width: 100%; 
  max-width: 100px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.invoice-prevent-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.column1-width {
  width: 70%;
}
.column2-width {
  width: 30%;
}
.footer {
  width: 100%;
  font-size: x-small;
  border-width: 1px;
  border-color: rgb(184, 180, 180);
  border-style: solid;
  margin-top: 20px;
  padding: 10px;
  line-height: 13px;
}

@media(max-width: 459px){
  .invoice-box {
    width: 100%;
    margin: 0;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    line-height: 18px;
    color: #555;
  }
  .invoice-company-logo{
    width: 100%; 
    max-width: 70px;
    margin: -20px 0px;
  }
}

/* @media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
} */

/* QUOTE/INVOICE STYLES END */

/* DropSearch Styles Start */
.dropdown {
  width: 100%;
  border-color: #333;
  border-width: 1px;
}
.dropdown-row {
  height: 50px;
  margin-bottom: 2px;
  border-width: 0px 1px 2px 1px;
  border-style: solid;
  border-radius: 9px;
  padding-left: 9px;
  padding-right: 5px;
  border-color: #9b59b6;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

/* DropSearch Styles End */


/* Quotes-All Quotes Page START */
.quote-item {
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
  margin: 10px;
  padding: 10px;
  color: #eee;
  background-color: #555;

}


/* Quotes-All Quotes Page END  */






